.container {
  padding-right: gutter() * .5;
  padding-left: gutter() * .5;

  @include breakpoint($break-small) {
    @include container(620px);
  }

  @include breakpoint(620px + 40px) {
    padding-right: 0;
    padding-left: 0;
  }

  @include breakpoint($break-medium) {
    @include show-grid($layout-medium);
  } 
}