// Logo
.logo {
  text-align: center;
  display: block;
  line-height: 70px;
  transition: all .2s ease-in-out;
  
  .img {
    max-width: 80px;
    max-height: 70px;
    vertical-align: middle;
  }
}

a.logo {
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}