.teaser {
  p {
    margin: 0 0 .75em;
  }

  .link-block {
    display: block;
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {
      .title {
        text-decoration: underline;
      }
    }
  }

  .img {
    display: inline-block;
  }

  .title {
    font-size: em($h4);
    font-weight: $fw-bold;
    clear: none;
    margin: 1em 0 .25em;

    @include breakpoint($break-large) {
      font-size: em($h3);
    }
  }

}

.teaser--stack {
  @extend .teaser;
}

.teaser--adjacent {
  @extend .teaser;
  @extend %clearfix;

  .img {
    @include breakpoint($break-medium) {
      @include span(4 $layout-medium);
    }
  }

  @include breakpoint($break-medium) {
    .title, 
    .desc {
      margin-left: span(4 $layout-medium) + gutter($layout-medium);
    }
  }
}